//Custom Resets
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$bodyFont: 'Karla', sans-serif;
$headerFont:  'Karla', sans-serif;
$bodyColour: #111111;
$lightBodyColour: #AAAAAA;
$accentColour: #006238;
$lightColour: #9B9B9B;
$lightBorder: #EFEFF4;
$hoverColour: #EBFFF6;


// Global Styles

html {
	font-size:16px;
}


body {
	font-family: $bodyFont;
	font-size: 1em; //30
	line-height: 1.875em; //30
	// border-left:8px solid #ADFFDC;
	// border-right:8px solid #ADFFDC;
}

.container {
	background:white;
}



a {
	text-decoration:underline;
	color:$bodyColour;
	transition: background 0.5s ease;
	&:hover {
		background:#EBFFF6;
		color:$bodyColour;
	}
	&:active {
		background:#ADFFDC;
		color:$bodyColour;
	}
	&:visited {
		color:$bodyColour;
	}
}

.nav {
	padding-top:50px;
	border-bottom:1px solid $lightBorder;
	margin-bottom:90px;
	font-size:14px; //14
	line-height:20px;
	a.nav-logo {
		display:block;
		text-decoration:none;
		max-width:380px;
	}
	ul {
		float:right;
		width:100%;
		list-style:none;
		overflow:hidden;
		li {
			float:left;
			width:33%;
			text-align:center;
			padding:1.5em 0;

			a {
				font-weight:700;
				color:$bodyColour;
				&:visited {
					color:$bodyColour;
				}
			}
		}
	}
}

::selection {
  background: #EBFFF6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EBFFF6; /* Gecko Browsers */
}

span.italic {
	font-style:italic;
}

// Work Page

.project-panel {
	margin-bottom:50px;

}
a.project-panel-title {
	color:$bodyColour;
	text-decoration: underline;
	font-size:1.333em;
	font-weight:700;
	 
		color:$bodyColour;
		&visited {
			color:$bodyColour;
		}

		
	
}
.project-panel-content {
	font-size:0.875em; //14
	line-height:1.8em;
	padding-top:6px;
	p {
		margin-bottom:20px;
	}

}
.project-panel-icon {
	width:100%;
}
.project-panel-line {
	padding-top:30px;
	border-bottom:1px solid $bodyColour;
}
.project-panel-tags {
	color:$lightColour;
	font-size:0.77em;
	line-height:1.5em;
	text-align:right;
	display:none;
	padding-top:51px;
}

.project-panel-link {
	text-decoration:underline;
}

.svg-circle {
	fill:$bodyColour;
}

.svg-square-stroke {
	fill:$bodyColour;
}

.svg-square-fill {
	fill:white;

}

.svg-triangle-stroke {
	fill:$bodyColour;
}

.svg-triangle-fill {
	fill:white;
}

.svg-pentagon-stroke {
	fill:$bodyColour;
}

.svg-hexagon-stroke {
	fill:$bodyColour;
}

// Footer

footer {
	font-size:14px;
	//border-top:1px solid $lightBorder;
	padding:0.75em 0;
	margin-top:50px;
	a.footer-logo {
		text-align:center;
		max-width:380px;
		margin-bottom:6px;
		text-decoration: none;
		display:block;
	}
	ul {
		float:right;
		width:100%;
		list-style:none;
		overflow:hidden;
		li {
			float:left;
			width:33%;
			text-align:center;

			a {
				font-weight:700;
				color:$bodyColour;
				&:visited {
					color:$bodyColour;
				}
			}
		}
	}
}


//Project Content

.project-title-icon {
	width:33px;
	height:33px;
	float:left;
	margin-right:0.7em;
}

h1 {
	// text-align:center;
	font-size:1.5em;
	font-weight:700;
	margin-bottom:2em;
	padding-top:0.1em;
}

.project-content {
	border-bottom:1px solid $bodyColour;
	padding-bottom:4.25em;
	p {
		margin-bottom:4.25em;
	}
	p:last-child {
		margin-bottom:0;
	}
	h2 {
		font-size:1em; //18
		font-weight:700;
		margin-bottom:0.7em;
		line-height:1.2em;
	}

	img {
		margin-bottom:1.2em;
	}

	figure {
		margin-bottom:2em;
	}

	figcaption {
		font-size:0.8em;
		line-height:1.4em;
		text-align:center;
		color: $lightBodyColour;

		a {
			color:$lightBodyColour;

		}
	}
}

.project-image {
	border: 1px solid $lightBorder;
}

.about-content {
	border-bottom:none;
}

.other-work-head {
	margin-top:1.5em;
	margin-bottom:3em;
}



 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        div[class^="col"]{padding-left:10px; padding-right:10px;}
        

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	div[class^="col"]{padding-left:15px; padding-right:15px;}

    	html {
    		font-size:18px;
    	}

    	.nav {
    		padding-bottom:30px;
    		ul {
    			width:66%;
    			li {
    			padding:0 0;
    			text-align:right;
    			}
    		}
    	}

    	footer {
    		a.footer-logo {
    			text-align:left;
    			margin-bottom:0;
    			display:inline;
    		}
    		ul {
    			width:66%;
    			li {
    			padding:0 0;
    			text-align:right;


    			}
    		}
    	}

    	.project-panel-tags {
    		display:block;
    	}
    	.project-panel-title{
    		font-size:1.333em; //24

    	}

    	.project-panel-content {
    		font-size:1em;
    		line-height:1.5em;
    		padding-top:14px;
    	}

    	.project-panel-line {
    		padding-top:50px;
    	}

    	figcaption {
    		//padding: 0 5em;
    	}

    	.project-title-icon {
			width:50px;
			height:50px;
			margin-right:1.2em;
		}

		h1 {
			padding-top:0.33em;
			
		}





    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    }

