/* GLOBAL STYLES */

.column .content,.columns .content
	 {
	width:100%;

}

body {
	font-family: 'Cardo', serif;
	margin-top:1.667em; /* 50/30 */
	color:#0d1013;
	margin-bottom:1.667em; /* 50/30 */
	font-size:1.875em; /* 30/16 */
}

a {
	color:#0d1013;
	 -o-transition:.2s;
	 -ms-transition:.2s;
	 -moz-transition:.2s;
	 -webkit-transition:.2s;
	 /* ...and now for the proper property */
	 transition:.2s;
}

a:hover {
	color:#1982ec;
}

a.disabled-link:hover {
	color:#e9e9e9;
	cursor:not-allowed;
}

hr.thick-divider {
	color: #0d1013;
	background-color: #0d1013;
	height: 3px; 
	border: 0;
	margin-top:1em; /* 30/30 */
	margin-bottom:1em; /* 30/30 */
}

hr.thin-divider {
	color: #0d1013;
	background-color: #626970;
	height: 1px; 
	border: 0;
	margin-top:2em; /* 60/30 */
	margin-bottom:2em; /* 60/30 */
}

.option-text {
	color:#1982ec;}
	
.large-link {
		font-size:1em; /* 30/30 */
		line-height:normal;
}

/* HEADER */

div.logo-area {
/*
	text-indent: -9999px;
	background:url(bpb_logo.png);
	background-size:contain;
*/
	width:6.667em; /* 200/30 */
	height:6.667em; /* 200/30 */
	overflow:hidden;
	
}

div.logo-area:hover {
/*
	background:url(bpb_logo_option.png);
	background-size:contain;
*/
	width:6.667em; /* 200/30 */
	height:6.667em; /* 200/30 */
}

div.logo-area svg {
	width:6.667em; /* 200/30 */
	height:6.667em; /* 200/30 */
	fill:#0d1013;
}

div.logo-area svg:hover {
	fill:#1982ec;
}



nav {
	font-family: 'Montserrat', sans-serif;
	font-size:1.200em; /* 36/30 */
	line-height:1.333em; /* 48/36 */
	text-transform: uppercase;
	letter-spacing: 0.167em;
	text-align: right;
	position: relative;
	height:5.556em; /* 200/36 */
	width:100%;
	
}

nav ul {
	position:absolute;
	bottom:0px;
	right:0px;
}

.headline {
	font-family: 'Montserrat', sans-serif;
	font-size:1.200em; /* 36/30 */
	margin-top:3.333em; /* 120/36 */
	margin-bottom:4.167em; /* 150/36 */
	text-align:center;
}

nav ul li a {
	text-decoration: none;
}



div.logo-area svg {
-webkit-animation: grow 0.25s ease-in-out;
-webkit-animation-fill-mode: backwards; 
}

-webkit-@keyframes grow {
    0% { 
        transform: scale(0, 0);
    }
    100% { 
        transform: scale(1, 1);
    }
}

/* CONTENT */

.offset-right {
	text-align:right;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size:1em; /* 30/30 */
	letter-spacing:0.070em;
}

.collaboration-table {
	font-size:1em; /* 30/30 */
	line-height:2.000em; /* 60/30 */
	margin-bottom:4.333em; /* 130/30 */
}

.guidelines {
	font-size:0.800em; /* 24/30 */
	line-height:1.250em; /* 30/24 */
	margin-bottom:5.416em; /* 130/24 */
}

.guidelines ul li {
	margin-bottom:1em; /* 30/30 */
}

.guidelines ul li a  {
	text-decoration: underline;
}

.previous-labels {
	text-align: center;
}
.previous-labels img {
	max-width: 100%; height: auto; /* for responsiveness */
	width:500px; 
	margin-bottom:1em; /* 30/30 */
}

.previous-labels-link {
	margin-bottom:5.416em; /* 130/24 */
}

/* BEERS */

.beers-label-row {
	margin-bottom:1.667em; /* 60/30 */
	text-align:center;
}
.beers-label img {
	max-width: 100%; height: auto; /* for responsiveness */
	width:600px;
	
}

.beers-info-id {
	padding-right:1em; /* 20/30 */
}

.beers-info tr td {
	padding-bottom:0.667em; /* 20/30 */
}

.beers-info {
	line-height:1.333em; /* 32/24 */
	font-size:0.600em; /* 24/30 */
	max-width:33.333em; /* 800/24 */
	margin:0 auto;
}

.beers-info {
	
}

/* CONTRIBUTE */

.beers-sorting-links {
	font-size:0.800em; /* 24/30 */
	line-height:normal;
	text-align:center;
}


/* ABOUT */

.about-bpb p {
	font-size:1.000em; /* 30/30 */
	line-height:1.467em; /* 44/30 */
}


/* MEDIA QUERIES */

@media only screen 
and (max-width:480px),
and (device-aspect-ratio:40/71),
and (-webkit-min-device-pixel-ratio: 2),
and (-webkit-min-device-pixel-ratio: 1.5) { 
	.offset-right{
		display:none;
	}
	body {
		font-size:1.000em; /* 16 */
	}
	.guidelines {
		font-size:1.00em;
		line-height:1.65em;
	}
	.beers-info {
		font-size:1.00em;
		line-height:1.65em;
	}
}

@media only screen
and (max-width:768px) {
	nav {
		text-align:center;
		
	}
	
	nav ul {
		position:relative;
	}
	
	div.logo-area {
		margin:0 auto 1em;
	}
}





/* POLYFILLS ETC. */

.svg-logo-fallback { 
  display: none;
  /* Make sure it's the same size as the SVG takes up */
  	width:6.667em; /* 200/30 */
	height:6.667em; /* 200/30 */
}
.no-svg .fallback { 
  background-image: url(bpb_logo.png); 
}